@font-face {
  font-family: DMSans;
  font-style: normal;
  src: url(assets/fonts/static/DMSans-Regular.ttf);
}
body {
  background-color: hsl(260, 18%, 97%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
}
* {
  font-family: DMSans, sans-serif;
  box-sizing: border-box;
  line-height: 1;
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 25px;
}
#bento-grid {
  padding: 5px;
  margin: 10px;
  overflow: auto;
  min-height: 100vh;
  display: flex;
  align-items: center;
}
.grid-container {
  display: grid;
  grid-template-areas:
  "A B B C"
  "A E F C"
  "D E F C"
  "D G H H";
  grid-template-columns:  1fr 1fr 1fr 1fr;
  grid-template-rows: 2fr 0.5fr 1fr 0.5fr;
  height: 800px;
  width: 1020px;
  gap: 25px;
}
.grid-container div {
  border-radius: 10px;
  
  display: flex;
  flex-direction: column;
}
p {
  font-size: 18px;
  font-weight: 400;
}

#cell-one {
  grid-area: A;
  background-color: hsl(31, 66%, 93%);
  justify-content: center;
  align-items: center;
}
  #cell-one h2 {
    margin-left: 20px;
  }
  #cell-one em {
    color: hsl(256, 67%, 59%)
  }
  #cell-one img {
    margin-top: 20px;
    width: 170px;
  }
#cell-two {
  grid-area: B;
  background-color: hsl(256, 67%, 59%);
  color: hsl(0, 0%, 100%);
  text-align: center;
  margin: 0;
  padding: 0;

  justify-content: center;
  align-items: center;
}
  #cell-two span {
    color: hsl(39, 100%, 71%);
  }
  #cell-two img {
    width: 180px;
    margin-top: 15px;
  }
  #cell-two p {
    margin-top: 10px;
  }
#cell-three {
  grid-area: C;
  background-color: hsl(254, 88%, 90%);
  justify-content: space-evenly;
  overflow: hidden;
}
  #cell-three > * {
    margin-left: 20px;
    margin-right: 20px;
  }
  #cell-three img {
    width: 300px;
  }
#cell-four {
  grid-area: D;
  background-color: hsl(39, 100%, 71%);
  justify-content: space-around;
  align-items: center;
}
  #cell-four img {
    width: 100%;
    padding: 15px;
  }
  #cell-four h2 {
    margin: 20px;
  }
#cell-five {
  grid-area: E;
  background-color: hsl(0, 0%, 100%);
  overflow: hidden;
  justify-content: space-evenly;
}
  #cell-five > * {
    margin-left: 20px;
  }
  #cell-five img {
    width: 265px;
  }

#cell-six {
  grid-area: F;
  background-color: hsl(39, 100%, 71%);
  overflow: hidden;
}
  #cell-six > * {
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
  }
  #cell-six img {
    width: 180px;
  }
#cell-seven {
  grid-area: G;
  background-color: hsl(0, 0%, 100%);
  overflow: hidden;
  justify-content: center;
  padding: 20px;
  justify-content: space-evenly;
}
  #cell-seven img {
    width: 150px;
  }
#cell-eight {
  grid-area: H;
  background-color: hsl(256, 67%, 59%);
  flex-direction: row;
  color: hsl(0, 0%, 100%);
  font-weight: 400;
  padding: 20px;

  align-items: center;
}
  #cell-eight img {
    width: 250px;
  }
.attribution { 
  font-size: 11px;
  text-align: center;
  width: 100%;
  padding: 20px;
  margin-top: auto;
}
.attribution a { color: hsl(228, 45%, 44%); }

@media only screen and (max-width: 800px) {
  #bento-grid {
    width: 100%;
    height: max-content;
  }
 .grid-container {
  margin: 30px;
  width: 100%;
  display: grid;
  grid-template-areas:
    "B"
    "E"
    "F"
    "C"
    "H"
    "G"
    "A"
    "D";
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  height: fit-content;
  row-gap: 30px;
 }
 #cell-two {
  padding: 50px;
 }
 #cell-five {
  margin: 0;
  padding: 20px;
  height: fit-content;
  }
    #cell-five img {
      width: 100%;
      margin-bottom: 20px;
    }
    #cell-six img {
      width: 230px;
    }
    #cell-three {
      padding: 20px;
      height: fit-content;
      text-align: center;
    }
    #cell-three >* {
      margin: 0;
      margin-bottom: 20px;
    }
    #cell-three img {
      width: 100%;
    }
    #cell-eight {
      flex-direction: column;
      text-align: center;
    }
    #cell-eight h2 {
      padding:5px;
      margin-top: 20px;
    }
    #cell-seven > *{
      margin-bottom: 15px;
    }
    #cell-one {
      align-items: start;
      padding: 20px;
    }
    #cell-one > h2, #cell-four h2 {
      margin: 0;
    }
    #cell-four {
      align-items: start;
      padding: 20px;
    }
    #cell-four img {
      margin-top: 20px;
      width: 230px
    }
}